* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html, body {
  background-color: #eee;
  color: #333;
  font-family: 'Reenie Beanie', cursive;
}

body {
  padding: 1rem 2%;
}

h1 {
  font-size: 6rem;
  margin-bottom: 8px;
}

h2 {
  margin-bottom: 6px;
}

p, li {
  margin-bottom: 5px;
  font-size: 2.6rem;
}

ul {
  list-style-type: none;
}

input:active {
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
  gap: 2rem;
  
}
